* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

/* regole generali */
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	padding: 0 15px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

.btn {
	background-color: #ff7a59;
	padding: 10px;
	border-radius: 5px;
	color: white;
}

.btn-white {
	background-color: white;
	border: 1.5px solid #ff7a59;
	color: #ff7a59;
}

.btn-large {
	padding: 20px;
}

a .fa-check-circle {
	color: #ff7a59;
	padding-right: 10px;
}

span {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}

h3 {
	font-size: 30px;
}

.lista {
	margin-top: 30px;
}

/* /regole generali */

/* contenitore */
.container {
	width: 80%;
	/* height: 895px; */
	margin: 0 auto;
	/* background-color: grey; */
}

/* header */
.nav-top {
	height: 100px;
	width: 100%;
	background-color: lightblue;
	line-height: 100px;
	border-bottom: 1px solid black;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
}

.nav-top-left i:last-child {
	border-right: 1px solid black;
	padding-right: 30px;
}

.nav-bottom {
	height: 100px;
	background-color: white;
	line-height: 100px;
	margin-top: 100px;
}

.nav-bottom .logo {
	position: relative;
}

.nav-bottom .logo img {
	position: absolute;
	top: 50px;
	left: 0;
	transform: translateY(-50%);
}

.jumbotron {
	height: 695px;
	background-image: url('../img/jumbotron.png');
	background-color: #fef5ee;
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	position: relative;
	box-shadow: inset 0 10px 8px rgba(0, 0, 0, 0.1);
}

.jumbotron .box-jumbotron {
	width: 40%;
	height: 100%;
}

.jumbotron h1 {
	font-size: 60px;
	margin-bottom: 30px;
	padding-top: 50px;
}

.jumbotron .p-centrale {
	margin-bottom: 50px;
	line-height: 1.6;
}

.jumbotron .p-sotto {
	margin-top: 50px;
}

.barra-colorata {
	height: 72px;
	width: 100%;
	background-color: #afebe4;
	border-top: 4px solid #273a51;
	border-bottom: 4px solid #273a51;
	position: absolute;
	bottom: 0;
	left: 0;
}
/* main */
/* prima sezione */
section {
	/* height: 2000px; */
	background-color: #daf6f3;
}

main section .img-primasezione {
	background-image: url('https://www.hubspot.com/hubfs/assets/hubspot.com/home/2018/Integrations_Illustration@2x.png');
	background-repeat: no-repeat;
	height: 600px;
	background-position: bottom center;
}

.descrizione-primasezione {
	text-align: center;
	width: 100%;
	padding: 0 220px;
	margin-bottom: 100px;
}

.descrizione-primasezione h2 {
	font-size: 40px;
	margin-bottom: 30px;
}

.primo-box .container-primo-box {
	/* height: 400px; */
	background-color: white;
	border: 1px solid black;
	padding: 80px 0;
}

.primo-box-left {
	width: 30%;
	text-align: center;
}

.primo-box-left img {
	width: 40%;
}

.primo-box-left p {
	margin-top: 50px;
}


.primo-box-right {
	width: 70%;
}

.boxinterno-right {
	width: 100%;
}

.boxinterno-right h3 {
	margin-bottom: 50px;
}

.boxinterno-right p {
	line-height: 1.6;
	margin-bottom: 30px;
	padding-right: 300px;
}


.boxinterno-right hr {
	display: inline-block;
	width: 45%;
	margin-left: 50px;
	vertical-align: middle;
	border: 1px solid black;
}


.secondo-box {
	margin-top: 50px;
	padding-bottom: 50px;
}
.primo-blocco {
	width: 30%;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	padding: 0 70px;
}

.primo-blocco img {
	width: 40%;
	margin-bottom: 40px;
	margin-top: 30px;
}


.primo-blocco p {
	margin-top: 40px;
	margin-bottom: 80px;
}

.primo-blocco hr {
	margin-bottom: 40px;
}

.primo-blocco li {
	display: block;
	text-align: left;
}

.primo-blocco p {
	margin-top: 80px;
}


.secondo-blocco {
	width: 30%;
	border: 1px solid black;
	margin: 0 5%;
	background-color: white;
	text-align: center;
	padding: 0 70px;
}


.secondo-blocco img {
	width: 50%;
	margin-bottom: 40px;
	margin-top: 30px;
}


.secondo-blocco p {
	margin-top: 40px;
	margin-bottom: 80px;
}

.secondo-blocco hr {
	margin-bottom: 40px;
}

.secondo-blocco li {
	display: block;
	text-align: left;
}

.secondo-blocco p {
	margin-top: 80px;
}

.terzo-blocco {
	width: 30%;
	border: 1px solid black;
	width: 30%;
	background-color: white;
	text-align: center;
	padding: 0 70px;
}



.terzo-blocco img {
	width: 37%;
	margin-bottom: 40px;
	margin-top: 30px;
}


.terzo-blocco p {
	margin-top: 40px;
	margin-bottom: 80px;
}

.terzo-blocco hr {
	margin-bottom: 40px;
}

.terzo-blocco li {
	display: block;
	text-align: left;
}

.terzo-blocco p {
	margin-top: 80px;
}


/* /prima sezione */
/* seconda sezione */
.box-seconda-sezione {
	background: linear-gradient(#45bacb, #1f849c);
	text-align: center;
	color: white;
}

.titolo-secondasezione {
	font-size: 40px;
	padding-top: 50px;
}

.paragrafo-secondasezione {
	padding: 0 250px;
	margin-top: 50px;
	padding-bottom: 50px;
}

.primo-quadrato, .secondo-quadrato, .terzo-quadrato, .quarto-quadrato {
	width: calc(100% / 4);
}

.prima-row {
	border-bottom: 1px solid white;
	margin-top: 100px;
}

.primo-quadrato, .secondo-quadrato, .terzo-quadrato {
	border-right: 1px solid white;
}

.icone-row {
	width: 100px;
	padding-top: 40px;
}

.icone-row-grandi {
	width: 150px;
}

.icone-row-piccole {
	width: 40px;
}

#icona-speciale {
	width: 70px;
}

.fa-plus {
	font-size: 15px;
	padding-left: 5px;
	vertical-align: middle;
	padding-bottom: 5px;
}

.seconda-row {
	padding-bottom: 200px;
}

h4 {
	font-size: 40px;
	font-weight: bold;
}

.seconda-row h4 {
	margin-top: 30px;
}

h5 {
	font-size: 15px;
	text-align: center;
	font-weight: normal;
	padding: 30px 0;
}

/* /seconda sezione */
/* terza sezione */
.box-terza-sezione {
	background-color: white;
}

.dati-numeri {
	width: 20%;
}

.aziende-partner {
	width: 80%;
	height: 300px;
	position: relative;
}

.terza-sezione-top h3 {
	padding-left: 47%;
	padding-top: 40px;
	padding-bottom: 30px;
	font-size: 45px;
}

.terza-sezione-top li {
	display: block;
	text-align: right;
	line-height: 2;
}

.aziende-partner li {
	display: inline-block;
}

.row-aziende-uno {
	position: absolute;
	right: 20%;
	top: 15%;
}

.aziende-partner img {
	width: 100px;
}

.row-aziende-due {
	position: absolute;
	right: 20%;
	top: 40%;
}

.terza-sezione-bottomleft {
	width: 40%;
	padding-top: 100px;
	margin-bottom: 150px;
}

.terza-sezione-bottomleft h3 {
	font-size: 40px;
	margin-bottom: 50px;
}

.terza-sezione-bottomleft p {
	margin-bottom: 60px;
	padding-right: 150px;
	line-height: 2;
}


.terza-sezione-bottomright {
	width: 60%;
	position: relative;
}

.terza-sezione-bottomright img {
	width: 40%;
	position: absolute;
	right: 0;
	top: 70px;
}

/* /terza sezione */
/* footer */
.box-footer {
	background-color: #2d3e50;
}

.col-uno {
	width: calc(100% / 4);
	color: white;
}

h6 {
	font-size: 18px;
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 12px;
}

.col-uno a {
	color: white;
}

.col-uno li {
	display: block;
	line-height: 2.6;
}

.col-due {
	width: calc(100% / 4);
	color: white;
}

.col-due a {
	color: white;
}

.col-due li {
	display: block;
	line-height: 2.6;
}


.col-tre {
	width: calc(100% / 4);
	color: white;
}

.col-tre a {
	color: white;
}

.col-tre li {
	display: block;
	line-height: 2.6;
}


.col-quattro {
	width: calc(100% / 4);
	color: white;
}

.col-quattro a {
	color: white;
}

.col-quattro ul:last-child li:last-child a {
	padding: 0 10px;
}

.col-quattro li {
	display: block;
	line-height: 2.6;
}

#btn-speciale {
	color: #2d3e50;
	background-color: white;
}

#li-speciale {
	margin-top: 20px;
}

.box-footer-bottomtop {
	margin-top: 200px;
	text-align: center;
}

.box-footer-bottomtop ul {
	margin-bottom: 20px;
}

.box-footer-bottomtop a {
	color: white;
}

.box-footer-bottombottom {
	padding-bottom: 30px;
}

.box-footer-bottombottomleft {
	width: 20%;
	color: white;
	margin-top: 50px;
}

.box-footer-bottombottomright {
	width: 80%;
	color: white;
	text-align: right;
	margin-top: 50px;
}

.box-footer-bottombottomright p {
	display: inline;
}

.box-footer-bottombottomright p:first-child {
	padding-right: 30px;
}
/* /footer */
/* finestra chat */
.box-chat {
	width: 300px;
	height: 200px;
	background-color: white;
	border: 1px solid black;
	position: fixed;
	right: 30px;
	bottom: 120px;
}

.avatar img {
 width: 30%;
 position: absolute;
 top: -50px;
 left: 50%;
 transform: translateX(-50%);
}

.avatar p {
	color: #425b76;
}

.box-chat .fa-times-circle {
	position: absolute;
	top: 3%;
	right: 3%;
}

.text-chat {
	width: 60%;
	margin: auto;
	margin-top: 60px;
	font-size: 15px;
	text-align: center;
	line-height: 2;
}

.icona-chat {
	position: fixed;
	bottom: 20px;
	right: 60px;
}

.fa-comments {
	font-size: 50px;
	color: white;
	padding: 30%;
	border-radius: 50%;
	background-color: #425b76;
}


/* /finestra chat */
